<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>My Expense Keeper</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!--<link rel="stylesheet" href="components/jquery-ui/themes/base/jquery.ui.css">-->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="components/angular-ui/build/angular-ui.css">
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body ng-app="myExpenseKeeperApp">
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="components/es5-shim/es5-shim.js"></script>
      <script src="components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- Header -->
    <header>
        <hgroup>
            <div class="container">
                <div class="row-fluid">
                    <div class="span4 appname"><h4><a href="/">My Expense Keeper</a></h4></div>
                    <div class="span2 offset6 username">Clarence</div>
                </div>
            </div>
        </hgroup>
    </header>

    <!-- Navigation -->
    <nav ng-controller="TopnavCtrl">
        <div class="container">
            <button class="btn btn-primary" type="button" ng-click="list()">List</button>
            <button class="btn" type="button" ng-click="add()">Add</button>
            <button class="btn btn-success" type="button">Reports</button>
            <button class="btn btn-info" type="button">Settings</button>
        </div>
    </nav>

    <hr>

    <section>
        <!-- Add your site or application content here -->
        <div class="container" ng-view></div>
    </section>

    <footer>
        <div class="container">
            <hr>
            <p class="text-center muted"><small>Copyright &copy; SkywideSoft 2013</small></p>
        </div>
    </footer>

    <script src="components/jquery/jquery.js"></script>
    <script src="components/jquery-ui/ui/jquery-ui.js"></script>
    <script src="components/angular/angular.js"></script>
    <script src="components/angular-resource/angular-resource.js"></script>
    <script src="components/angular-cookies/angular-cookies.js"></script>
    <script src="components/angular-sanitize/angular-sanitize.js"></script>
    <script src="components/angular-ui/build/angular-ui.js"></script>
    <script src="components/angular-ui-bootstrap-bower/ui-bootstrap.js"></script>

    <!-- build:js scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/topnav.js"></script>
    <script src="scripts/controllers/expenselist.js"></script>
    <script src="scripts/controllers/expenseadd.js"></script>
    <script src="scripts/directives/skydate.js"></script>
    <script src="scripts/controllers/expenseview.js"></script>
    <script src="scripts/controllers/expenseedit.js"></script>
    <script src="scripts/services/messageservice.js"></script>
    <!-- endbuild -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
