<p><h4 class="text-center">Expenses History</h4></p>

<div class="row-fluid">
    <input type="search" class="input-medium search-query" placeholder="Enter filter text" ng-model="searchText"/>
</div>

<table class="table table-hover table-condensed">
    <thead>
        <tr>
            <td><strong>Date</strong></td>
            <td><strong>Location</strong></td>
            <td><strong>Category</strong></td>
            <td><strong>Amount</strong></td>
        </tr>
    </thead>
    <tr ng-repeat="expense in expenses | filter: searchText | orderBy:'dateTime':true ">
        <td><a href="#/expenseview/{{expense._id}}">{{expense.dateTime | date:'yyyy-MM-dd'}}</a></td>
        <td>{{expense.location}}</td>
        <td>{{expense.category}}</td>
        <td>{{expense.amount | currency}}</td>
    </tr>
</table>
