<div class="alert" ng-show="flash.get().text.length">{{flash.get().text}}</div>

<p><h4 class="text-center">Expenses History</h4></p>

<div class="row-fluid">

    <div class="span6">
        <div class="btn-group">
            <button type="button" class="btn btn-mini btn-primary" ng-model="days" btn-radio="'7'">7 Days</button>
            <button type="button" class="btn btn-mini btn-primary" ng-model="days" btn-radio="'30'">1 Month</button>
            <button type="button" class="btn btn-mini btn-primary" ng-model="days" btn-radio="'90'">3 Months</button>
            <button type="button" class="btn btn-mini btn-primary" ng-model="days" btn-radio="'180'">6 Months</button>
            <button type="button" class="btn btn-mini btn-primary" ng-model="days" btn-radio="'365'">Year</button>
        </div>
    </div>

    <div class="span6">
        <input type="search" class="input-medium search-query" placeholder="Enter filter text" ng-model="searchText"/>
    </div>
</div>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <td><strong>Date</strong></td>
            <td><strong>Location</strong></td>
            <td><strong>Category</strong></td>
            <td><strong>Amount</strong></td>
        </tr>
    </thead>
    <tr ng-repeat="expense in expenses | filter: searchText | orderBy:'dateTime':true " ng-click="view(expense._id)" >
        <td>{{expense.dateTime | date:'yyyy-MM-dd'}}</td>
        <td>{{expense.location}}</td>
        <td>{{expense.category}}</td>
        <td>{{expense.amount | currency}}</td>
    </tr>
</table>
