<p class="text-center">{{action}} Expense Item</p>

<form class="form-horizontal">

    <div class="control-group">
        <label class="control-label" for="date">Date and Time:</label>
        <div class="controls">
            <!--<input id="date" type="date" sky-date class="input-large" ng-model="expenseItem.date" required>-->
            <input id="date" type="text" sky-date ng-model="$parent.expenseItem.dateTime" required>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="location">Location:</label>
        <div class="controls">
            <input id="location" type="text" placeholder="Location" ng-model="expenseItem.location" required>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="category">Category:</label>
        <div class="controls">
            <input id="category" type="text" class="input-medium" placeholder="Category" ng-model="expenseItem.category" required>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="amount">Amount:</label>
        <div class="controls">
            <input id="amount" type="number" min="0" class="input-small" placeholder="Amount" ng-model="expenseItem.amount" required>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="description">Description:</label>
        <div class="controls">
            <input id="description" type="text" class="input-xlarge" placeholder="Description" ng-model="expenseItem.description">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="rating">Rating:</label>
        <div class="controls">
            <input id="rating" type="number" min="1" max="5" class="input-mini" placeholder="Rating" ng-model="expenseItem.rating">
        </div>
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary" ng-click="save()">Save changes</button>
        <button type="button" class="btn">Cancel</button>
    </div>
</form>