<div class="alert alert-error" ng-show="flash.get().text.length">{{flash.get().text}}</div>

<p><h4 class="text-center">Forgot Password</h4></p>

<form name="loginForm" class="form-horizontal">
    <div class="alert alert-error" ng-show="userIdNotExist">Email not exist, please try again.</div>
    <div class="alert alert-error" ng-show="actionFailed">
        Password reset failed. Please try again.
    </div>
    <div class="control-group">
        <label class="control-label" for="inputEmail">*Email</label>
        <div class="controls">
            <input type="email" id="inputEmail" name="username" ng-model="userId" placeholder="Email" required>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button class="btn btn-primary" ng-click="sendMail()">Reset Password</button>
            <button type="button" class="btn" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</form>
