<div class="container">
    <div class="row">
        <h1>My Expense Keeper</h1>

        <p class="lead">Help you to keep track your expenses.</p>

        <div class="c-cta">
            <div class="btn-group">
                <a href="" class="btn btn-info btn-large" ng-click="register()">Register</a>
                <a href="" class="btn btn-large" ng-click="signIn()" ng-show="!isLoggedIn">Sign In</a>-
                <a href="" class="btn btn-large" ng-click="signOff()" ng-show="isLoggedIn">Sign Off</a>
            </div>
        </div>

        <div ng-show="isLoggedIn">
            <h4>Welcome {{loggedInUser}}</h4>
        </div>
    </div>
</div>
