<p><h4 class="text-center">Password Reset</h4></p>

<form name="resetForm" class="form-horizontal">
    <div class="alert alert-error" ng-show="passwordNotMatch">Password not match, please try again.</div>
    <div class="control-group">
        <label class="control-label">Email</label>
        <div class="controls">
            <span class="uneditable-input">{{userId}}</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputPassword">*Password</label>
        <div class="controls">
            <input type="password" pattern=".{4,10}" id="inputPassword" name="password" ng-model="password" placeholder="Password">
            <span class="help-inline"><small class="muted">between 4 to 10 characters</small></span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="confirmPassword">*Confirm Password</label>
        <div class="controls">
            <input type="password" pattern=".{4,10}" id="confirmPassword" name="confirmPassword" ng-model="confirmPassword" placeholder="Confirm Password">
            <span class="help-inline"><small class="muted">between 4 to 10 characters</small></span>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button class="btn btn-primary" ng-click="resetPassword()" ng-disabled="resetForm.$invalid">Reset</button>
        </div>
    </div>
</form>
