<p><h4 class="text-center">Settings</h4></p>

<form name="loginForm" class="form-horizontal">
    <div class="alert alert-error" ng-show="passwordNotMatch">Password not match, please try again.</div>
    <div class="control-group">
        <label class="control-label">Email</label>
        <div class="controls">
            <span class="uneditable-input">{{userId}}</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputPassword">*Password</label>
        <div class="controls">
            <input type="password" pattern=".{4,10}" id="inputPassword" name="password" ng-model="user.password" placeholder="Password">
            <span class="help-inline"><small class="muted">between 4 to 10 characters</small></span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="confirmPassword">*Confirm Password</label>
        <div class="controls">
            <input type="password" pattern=".{4,10}" id="confirmPassword" name="confirmPassword" ng-model="user.confirmPassword" placeholder="Confirm Password">
            <span class="help-inline"><small class="muted">between 4 to 10 characters</small></span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="name">*User Name:</label>
        <div class="controls">
            <input type="text" pattern=".{3,20}" id="name" name="name" ng-model="user.userName" placeholder="User Name" required>
            <span class="help-inline"><small class="muted">between 3 to 20 characters</small></span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="language">*Language:</label>
        <div class="controls">
            <select id="language" name="language" ng-model="languagePreferred" required ng-options="language.name for language in languages"></select>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button class="btn btn-primary" ng-click="save()" ng-disabled="loginForm.$invalid">Save</button>
            <button type="button" class="btn" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</form>
